{% extends "account.html" %}

{% block title %}Réinitialiser mon mot de passe | {{ block.super }}{% endblock title %}

{% block content %}
<section class="login">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-5">
        <div class="password-reset-bloc">
          <div class="password-reset-bloc-messages">
            {% if form.email.errors %}
            <div class="password-reset-bloc-message">
              <div class="alert alert-danger" role="alert">
                <span>{{ form.email.errors.as_text|cut:"*" }}</span>
              </div>
            </div>
            {% endif %}
            <div class="password-reset-bloc-message">
              <div class="alert alert-primary" role="alert">
                <span>Veuillez indiquer votre adresse email pour réinitialiser votre mot de passe.</span>
              </div>
            </div>
          </div>
          <div class="password-reset-bloc-form">
            <form action="" method="post">
              {% csrf_token %}
              <div class="row my-4">
                <div class="col">
                  <div class="form-group">
                    <label for="id_{{ form.email.name }}">Adresse mail</label>
                    <input autofocus class="form-control" type="email" name="{{ form.email.name }}" id="id_{{ form.email.name }}" maxlength="{{ form.email.field.max_length }}" placeholder="{{ form.email.field.help_text }}" {% if form.email.data %}value="{{ form.email.data }}"{% endif %} required>
                  </div>
                </div>
              </div>
              <div class="row my-4">
                <div class="col-12 my-2">
                  <button type="submit" class="btn btn-primary btn-block" title="Réinitialiser mon mot de passe">Réinitialiser mon mot de passe <i class="fas fa-spinner rotate"></i></button>
                </div>
                <div class="col-12 my-2">
                  <a class="btn btn-secondary btn-block" href="{% url 'login' %}" title="Retour">Retour</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
